<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
	<appSettings>
		<add key="Browser" value="Chrome" />
		<add key="username" value="borawakepp4@gmail.com" />
		<add key="Password" value="borawake81" />
		<add key="url" value="http://automationpractice.com/index.php" />
		<add key="ApiUserName" value="SFAPI_TEST@microsoftUAT" />
		<add key="ApiPassword" value="Welcome@12345" />
		<add key="UserName" value="SF_AUTO_TEST" />
		<add key="PasswordAT14" value="" />
		<add key="PasswordAT15" value="" />
		<add key="PasswordAD1" value="" />
		<add key="PasswordAT16" value="Micro@234" />
		<add key="PasswordAT1" value="" />
		<add key="PageLoadTimeout" value="40" />
		<add key="ElementLoadTimeout" value="2" />
	</appSettings>

	<runtime>

		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

			<dependentAssembly>

				<assemblyIdentity name="BoDi" publicKeyToken="ff7cd5ea2744b496" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="Gherkin" publicKeyToken="86496cfa5b4a5851" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-19.0.3.0" newVersion="19.0.3.0" />

			</dependentAssembly>

		</assemblyBinding>
		<specFlow>
			<unitTestProvider name="MsTest" />

			<!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
		</specFlow>
	</runtime>
	
</configuration>

